body {
    background: #606973;
    height: 100vh;
    /* background: #f4f6f9; */
}

section[name="content"] div[name="information"]>.row {
    max-height: calc(100vh - 82px);
    overflow-y: auto;
    overflow-x: hidden;
}

.carousel-control-next,
.carousel-control-prev {
    width: 3rem;
}

.row.section-header {
    margin-bottom: .5rem;
}

.row.section-header div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .75s;
}

.row.section-header div:nth-child(1) {
    transform: translateX(-100%);
}

.row.section-header.active div:nth-child(1) {
    transform: translateX(0%);
}

.row.section-header div:nth-child(2) {
    transition-delay: 0.5s;
    transform: translateX(100%);
}

.row.section-header.active div:nth-child(2) {
    transform: translateX(0%);
}

.row.section-header div:nth-child(2) img {
    transition: transform 1.25s;
    transition-delay: 0.75s;
    transform: scale(0.25);
}

.row.section-header.active div:nth-child(2) img {
    transform: scale(1);
}

.row.section-body {
    justify-content: center;
    align-items: stretch;
    margin: 0;
}

.row.section-body .card {
    transition: transform 0.5s;
    transform: scale(0);
}

.row.section-body .card.active {
    transition-delay: 0.25s;
    transform: scale(1);
}

img.image-cosmetic {
    width: 80%;
    height: 80%;
}

@media screen and (max-width: 767px) {
    section[name="content"] div[name="information"]>.row {
        margin-top: 1em;
        max-height: calc(100vh - 82px);
        overflow-y: auto;
    }

    img.image-cosmetic {
        width: 25%;
        height: auto;
    }
}